body{
  /*background: 	#e066ff;
  background-image: radial-gradient(	#f0f8ff,	#00fa9a);*/
  /*background: url('../style/bgCVC.jpg') center 0 no-repeat;*/
  background: url('../style/bg.jpg') center 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Arial;
}
.wrapper{
  margin: auto;
  display: block;
  width: 55%;
}
h1{
  margin: auto;
  margin-top: 20%;
  color: #8b008b;
  font-size: 40px;
  display: block;
  width: 200px;
}
h2{
  margin-left: 20%;
  margin-top: 50px;
  color: #8b008b;
  font-size: 30px;
}
h3{
  margin: auto;
  margin-top: 30px;
  display: block;
  width: 250px;
  color: #8b0a50;
  font-size: 30px;
}
 p{
   padding-left: 30px;
   font-size: 18px;
   color: 	#006400;
 }
 a{
   margin-left: 10px;
   text-decoration: none;
   color: #8b0a50;
 }
