@font-face {
    font-family: 'helvetica neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* HEADER */
body {
    font-family: 'helvetica neue'
}
.header{
    background: url('../img/bg.jpg')
}
ul.menu {
    margin: 0 20px 0 590px;
    height: 36px;
}
ul.menu li {
    float:left;
}
ul.menu li a {
    padding: 11px 15px;
    display: inline-block;
    text-decoration: none;
    font-family: "helvetica neue";
    color: #60b5ed;
    font-size: 14px;
}
ul.menu li span {
    text-decoration: underline;
}
ul.menu li a:hover{
    background-color: #4eabda;
    color: #ffffff;
    font-weight: bold;
}
.profile {
    background: url('../img/flag.png') no-repeat left;
}
ul.menu li a.profile {
    padding-left: 30px;
}
.info {
    background: url('../img/fon.jpg');
    background-size: cover;
    width: 100%;
    height: 1022px;
    position: relative;
}
.box {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 613px;
    width: 560px;
    background: rgba(0,0,0,0.6);
    position: absolute;
}
/*SIDEBAR*/
.sidebar p {
    margin: 26px 0 23px 0;
    font-size: 24px;
    font-family: "helvetica neue";
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.sidebar hr {
    height: 2px;
    background-color: #c2c8ba;
}
.facebook {
    margin:32px 0 32px 0;
    text-align: center;
}
.OU {
  margin-bottom: 31px;
  font-size: 14px;
  text-align: center;
  color: #999999;
}
.OU hr {
    background: rgb(102,102,102);
    border: none;
    display: inline-block;
    margin: 3px 3px;
    width: 123px;
    size: 2px;
}
 .OU span {
    padding: 0 5px;
}
/*--CONTENT--*/
.content form input[type="text"],[type="email"],[type="password"] {
    margin: 0 133px 17px;
    padding-left: 18px;
    width: 275px;
    height: 35px;
    border: 0;
    border-bottom: 1px solid gray;
    font-family: 'Helvetica Neue', Arial;
    font-size: 14px;
    font-weight: normal;
    color: white;
    background-color: #101010;
}
.content form input[type="text"]:hover,[type="email"]:hover,[type="password"]:hover {
    background-color: #1b5288;
    /*-webkit-box-shadow: 0px 0px 5px 5px rgba(77,135,177,0.7);
    -moz-box-shadow: 0px 0px 5px 5px rgba(77,135,177,0.7);*/
    box-shadow: 0px 0px 5px 5px rgba(77,135,177,0.7);
    font-size: 20px;
}
.content form input[type="checkbox"] {
    margin: 0 0 22px 142px;
    color: #efefef;
    display: inline-block;
}
.content form label {
    color: #cccccc;
    font-size: 14px;
    text-align: center;
}
.content form button {
    height: 35px;
    width: 150px;
    margin: 0 206px 0 206px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Helvetica Neue', Arial;
  font-weight: normal;
  line-height: 35px;
  background: linear-gradient(to bottom, #67c6e6, #2e7ac4);
  border: 0;
  border-radius: 3px;
  display: block;
}
/*--FOOTER--*/
.footer {
    margin: 15px 122px 0 122px;
    width: 310px;
}
.footer p{
    font-family: 'Helvetica Neue', Arial;
    font-size: 11px;
    text-align: center;
    color: #acaba9;
}
