/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%;
  max-width: 2560px;
  height: 700px;
  background: url(../img/1920-bg.jpg) no-repeat; }
  header .header-entrance {
    width: 150px;
    height: 36px;
    margin: 0;
    float: right;
    padding-top: 40px;
    margin-right: 250px; }
    header .header-entrance .header-entrance-login {
      width: 45px;
      line-height: 20px;
      float: left;
      margin-top: 7px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: white;
      font-size: 14px; }
    header .header-entrance .header-entrance-signup {
      width: 85px;
      line-height: 32px;
      float: right;
      text-align: center;
      border: 2px solid white;
      border-radius: 20px;
      margin-top: 0px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: white;
      font-size: 14px; }

.header-entrance-signup {
  width: 85px;
  line-height: 32px;
  float: right;
  text-align: center;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 0px; }

.header-login-text-wrapper {
  width: 50px;
  line-height: 20px;
  float: left;
  margin-top: 7px; }

.header-logo, .header-title, .header-article, .header-article-768 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-left: 250px;
  text-align: left;
  margin-top: 0px;
  padding-top: 45px; }

.header-title {
  margin-top: 120px;
  font-size: 30px;
  font-size: 52px;
  text-align: center;
  margin-left: 0;
  padding-left: 0; }

.header-article {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-top: 20px;
  display: none; }

.header-article-768 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-top: 20px;
  display: block;
  font-size: 24px;
  text-align: center;
  padding-left: 0; }

.header-button, .partner-button, .search-button {
  display: block;
  width: 100%;
  max-width: 220px;
  line-height: 35px;
  background: #ff4e50;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px;
  cursor: pointer;
  transition: ease-out 0.5s;
  outline: none;
  box-sizing: border-box; }
  .header-button p, .partner-button p, .search-button p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    transition: ease-out 0.5s; }
  .header-button p:hover, .partner-button p:hover, .search-button p:hover {
    color: #ff4e50;
    transition: ease-out 0.5s; }

.header-button:hover, .partner-button:hover, .search-button:hover {
  background: white;
  transition: ease-out 0.5s; }

.sidebar-wrapper, .grid-box {
  width: 100%;
  max-width: 940px;
  height: auto;
  margin: auto;
  margin-top: 67px; }

.sidebar-wrapper-title, .partner-wrapper-title, .partner-wrapper-title-768, .search-title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #333333;
  padding-top: 30px; }

.sidebar-slider, .sidebar-slider-2, .sidebar-slider-3 {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: 10px; }

.sidebar-text-wrapper {
  height: 150px;
  margin-left: 20px;
  margin-top: 220px;
  position: absolute;
  z-index: 10; }

.sidebar-button, .sidebar-button-2 {
  line-height: 20px;
  width: 70px;
  background: #ff4e50;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: white;
  text-align: center; }

.sidebar-button-2 {
  margin-top: 35px; }

.sidebar-text-tittle, .sidebar-text-article, .sidebar-text-article-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  display: block;
  margin-top: 15px;
  width: 270px; }

.sidebar-text-article, .sidebar-text-article-2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin-top: 16px; }

.sidebar-text-article-2 {
  width: 266px; }

.slider-wrapper {
  position: relative;
  overflow: hidden; }

.slider-wrapper .img {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  margin: 0 auto; }

.slider-wrapper .img:first-child {
  display: block; }

.slider-wrapper span {
  margin-top: -13px;
  width: 30px;
  height: 60px;
  display: block;
  position: absolute;
  top: 38%;
  cursor: pointer;
  background: url(../img/sprite.png) no-repeat; }

.slider-wrapper span.next {
  right: 17px;
  background-position: -34px 0; }

.slider-wrapper span.prev {
  left: 17px;
  background-position: 0 0; }

.img {
  width: 100%;
  max-width: 300px;
  height: 400px; }

.foto1 {
  background: url("../img/foto1-1440px.jpg") center 0 no-repeat; }

.foto2 {
  background: url("../img/foto2-1440px.jpg") center 0 no-repeat; }

.foto3 {
  background: url("../img/foto3-1440px.jpg") center 0 no-repeat; }

.partner-wrapper {
  width: 100%;
  max-width: 940px;
  height: auto;
  margin: auto;
  margin-top: 65px; }

.partner-wrapper-title {
  padding-top: 30px; }

.partner-wrapper-title-768 {
  display: none; }

.partner-wrapper-box, .partner-wrapper-box-2, .partner-wrapper-box-3, .partner-wrapper-box-4 {
  width: 220px;
  height: 237px;
  float: left;
  margin-top: 34px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 37px; }
  .partner-wrapper-box img, .partner-wrapper-box-2 img, .partner-wrapper-box-3 img, .partner-wrapper-box-4 img {
    display: block;
    margin: auto; }
  .partner-wrapper-box .partner-people-name, .partner-wrapper-box-2 .partner-people-name, .partner-wrapper-box-3 .partner-people-name, .partner-wrapper-box-4 .partner-people-name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #333333; }
  .partner-wrapper-box .partner-people-hobbies, .partner-wrapper-box-2 .partner-people-hobbies, .partner-wrapper-box-3 .partner-people-hobbies, .partner-wrapper-box-4 .partner-people-hobbies {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #a3a3a3;
    line-height: 16px; }

.partner-wrapper-box-2 {
  height: 205px; }

.partner-button {
  clear: both;
  overflow: hidden;
  margin-top: 40px;
  line-height: 35px;
  background: white;
  border: 2px solid #ff4e50;
  display: block;
  outline: none;
  box-sizing: border-box;
  width: 190px; }
  .partner-button p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 14px;
    color: #ff4e50;
    transition: ease-out 0.4s; }
  .partner-button p:hover {
    color: white;
    transition: ease-out 0.4s; }

.partner-button:hover {
  background: #ff4e50;
  transition: ease-out 0.4s; }

.grid-box {
  height: auto;
  margin-top: 10px; }

.grid-box:after {
  content: '';
  display: block;
  clear: both; }

.grid-wrapper-title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  color: black;
  padding-top: 60px;
  padding-bottom: 30px;
  display: none; }

.grid-wrapper-title-768 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #333333;
  padding-top: 60px;
  padding-bottom: 30px;
  display: block; }

.grid-box-item {
  width: 100%;
  max-width: 31%;
  height: 309px;
  float: left;
  margin-top: 10px;
  background: #ff4e50;
  border-radius: 5px;
  margin-left: 1%; }
  .grid-box-item p {
    padding-top: 140px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white; }
  .grid-box-item .grid-box-item-article-img3 {
    padding-top: 130px; }

.grid-wide {
  width: 100%;
  max-width: 63%;
  height: 309px; }

.search-wrapper {
  width: 100%;
  max-width: 2560px;
  height: 285px;
  border-bottom: 3px solid #ff4e50;
  margin-top: 30px;
  margin-top: 50px; }

.search-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 100px;
  color: #4e4e4e;
  padding-top: 36px; }

.search-input-box {
  width: 100%;
  max-width: 240px;
  margin: auto;
  margin-left: 30%;
  margin-top: 38px;
  float: left; }

#search-input {
  width: 100%;
  max-width: 223px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  outline: none;
  padding-left: 15px;
  padding-top: 10px; }

#search-input:focus {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#ff4e50', Direction=90, Strength=3);
  -webkit-box-shadow: 0px 0px 10px 2px #ff4e51;
  -moz-box-shadow: 0px 0px 10px 2px #ff4e51;
  box-shadow: 0px 0px 10px 2px #ff4e51;
  border: 1px solid #ff4e50; }

.search-button {
  margin-left: 10px;
  margin-top: 38px;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  color: white;
  width: 160px;
  line-height: 40px;
  box-sizing: border-box;
  outline: none; }

.search-button:hover {
  box-sizing: border-box;
  color: #ff4e50;
  border: 1px solid #ff4e50; }

footer {
  clear: both;
  max-width: 940px;
  height: 190px;
  margin: auto; }

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ff4e50;
  text-align: left;
  padding-top: 39px;
  padding-left: 0px;
  display: block;
  float: left; }

.footer-menu-title, .footer-logo-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-align: left;
  padding-top: 39px;
  padding-left: 97px;
  display: block;
  float: left; }

.footer-menu {
  width: 200px;
  height: 15px;
  margin: auto;
  margin-top: 59px;
  position: absolute;
  margin-left: 235px; }
  .footer-menu a {
    text-decoration: none;
    float: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #858585;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px; }

.footer-logo {
  margin: auto;
  margin-top: 40px;
  margin-right: 0px;
  float: right; }

/*media=320-480px*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    max-width: 480px; }

  .sidebar-wrapper-title, .partner-wrapper-title, .partner-wrapper-title-768, .search-title {
    margin-bottom: 16px; }

  .sidebar-button, .sidebar-button-2 {
    margin-top: 0px; }

  .slider-wrapper span {
    display: none; }

  .partner-wrapper {
    max-width: 480px;
    margin-top: 34px;
    line-height: 23px;
    height: 1062px; }

  .partner-wrapper-box, .partner-wrapper-box-2, .partner-wrapper-box-3, .partner-wrapper-box-4 {
    margin-bottom: 24px; }

  .partner-people-hobbies {
    margin-top: 7px;
    line-height: 18px; }

  .partner-button {
    margin-top: 31px; }

  .grid-wrapper-title {
    margin-bottom: 0px;
    padding-bottom: 9px;
    display: block; }

  .grid-wrapper-title-768 {
    display: none; }

  .search-wrapper {
    margin-top: 0px;
    padding-top: 0px;
    max-width: 480px;
    height: 267px; }

  .search-title {
    padding-top: 40px; }

  .search-text {
    padding-top: 0px; }

  .search-input-box {
    max-width: 284px;
    margin-top: 18px; }

  #search-input {
    max-width: 264px;
    height: 36px; }

  .search-button {
    display: block;
    margin: auto;
    margin-top: 10px; }

  footer {
    max-width: 480px;
    margin-top: 0px; }

  .footer-title {
    padding-top: 18px;
    letter-spacing: 0.9px; }

  .footer-menu-title, .footer-logo-title {
    padding-top: 13px; }

  .footer-menu {
    margin-top: 9px; }

  .footer-menu a {
    padding-right: 9px;
    padding-left: 3px; }

  .footer-logo {
    margin-top: 17px; } }
/*media=480-768px*/
@media screen and (min-width: 480px) and (max-width: 770px) {
  header {
    width: 100%;
    max-width: 768px;
    height: 700px;
    background: url(../img/768-bg.jpg) no-repeat;
    background-size: cover; }
    header .header-entrance {
      margin: 0;
      float: right;
      margin-right: 50px;
      padding-top: 40px; }
      header .header-entrance .header-entrance-login {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 14px; }
      header .header-entrance .header-entrance-signup {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 14px; }

  .header-logo, .header-title, .header-article, .header-article-768 {
    display: block;
    padding-top: 45px;
    padding-left: 49px;
    text-align: left;
    margin-top: 0px;
    letter-spacing: 0.9px; }

  .header-title {
    margin-top: 113px;
    font-size: 30px;
    font-size: 52px;
    text-align: center;
    margin-left: 0;
    padding-left: 0; }

  .header-article {
    display: none; }

  .header-article-768 {
    display: block;
    font-size: 24px;
    text-align: center;
    padding-left: 0; }

  .header-button, .partner-button, .search-button {
    display: block;
    max-width: 220px;
    line-height: 35px;
    margin: auto;
    margin-top: 30px;
    outline: none;
    box-sizing: border-box; }

  .sidebar-wrapper, .grid-box {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: auto;
    margin-top: 67px; }

  .sidebar-wrapper-title, .partner-wrapper-title, .partner-wrapper-title-768, .search-title {
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
    color: #333333; }

  .sidebar-slider, .sidebar-slider-2, .sidebar-slider-3 {
    display: inline-block;
    width: 100%;
    max-width: 240px;
    height: 400px;
    margin-top: 34px;
    border-radius: 5px;
    margin-left: 10px; }

  .sidebar-text-wrapper {
    width: 200px;
    height: 170px;
    margin-left: 20px;
    margin-top: 205px;
    position: absolute;
    z-index: 10; }

  .sidebar-button, .sidebar-button-2 {
    line-height: 20px;
    width: 70px;
    background: #ff4e50;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: white;
    text-align: center; }

  .sidebar-button-2 {
    margin-top: 56px; }

  .sidebar-text-tittle, .sidebar-text-article, .sidebar-text-article-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 15px; }

  .sidebar-text-article, .sidebar-text-article-2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-top: 16px;
    width: 216px; }

  .slider-wrapper {
    position: relative;
    overflow: hidden; }

  .slider-wrapper .img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    margin: 0 auto; }

  .slider-wrapper .img:first-child {
    display: block; }

  .slider-wrapper span {
    margin-top: -13px;
    width: 30px;
    height: 60px;
    display: block;
    position: absolute;
    top: 14%;
    cursor: pointer;
    background: url(../img/sprite.png) no-repeat; }

  .slider-wrapper span.next {
    right: 17px;
    background-position: -34px 0; }

  .slider-wrapper span.prev {
    left: 17px;
    background-position: 0 0; }

  .img {
    width: 100%;
    max-width: 240px;
    height: 400px; }

  .foto1 {
    background: url("../img/foto1-768px.jpg") center 0 no-repeat; }

  .foto2 {
    background: url("../img/foto2-768px.jpg") center 0 no-repeat; }

  .foto3 {
    background: url("../img/foto3-768px.jpg") center 0 no-repeat; }

  .partner-wrapper {
    width: 100%;
    max-width: 480px;
    height: auto;
    margin: auto;
    margin-top: 68px; }

  .partner-wrapper-title {
    display: none; }

  .partner-wrapper-title-768 {
    display: block; }

  .partner-wrapper-box, .partner-wrapper-box-2, .partner-wrapper-box-3, .partner-wrapper-box-4 {
    width: 213px;
    height: 229px;
    float: left;
    margin-top: 33px;
    margin-left: 5px;
    margin-bottom: 20px; }
    .partner-wrapper-box img, .partner-wrapper-box-2 img, .partner-wrapper-box-3 img, .partner-wrapper-box-4 img {
      display: block;
      margin: auto; }
    .partner-wrapper-box .partner-people-name, .partner-wrapper-box-2 .partner-people-name, .partner-wrapper-box-3 .partner-people-name, .partner-wrapper-box-4 .partner-people-name {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-top: 13px;
      color: #333333; }
    .partner-wrapper-box .partner-people-hobbies, .partner-wrapper-box-2 .partner-people-hobbies, .partner-wrapper-box-3 .partner-people-hobbies, .partner-wrapper-box-4 .partner-people-hobbies {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
      color: #a3a3a3;
      line-height: 16px; }

  .partner-wrapper-box-2 {
    height: 230px; }

  .partner-button {
    clear: both;
    overflow: hidden;
    margin-top: 20px;
    line-height: 35px;
    background: white;
    border: 2px solid #ff4e50;
    display: block;
    outline: none;
    box-sizing: border-box;
    max-width: 193px; }
    .partner-button p {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 14px;
      color: #ff4e50; }

  .grid-box {
    max-width: 768px;
    height: auto;
    margin-top: 10px;
    padding-left: 0px; }

  .grid-wrapper-title {
    display: none; }

  .grid-wrapper-title-768 {
    display: block;
    padding-top: 98px;
    padding-bottom: 14px; }

  .grid-box-item {
    width: 100%;
    max-width: 31%;
    height: 309px;
    float: left;
    margin-top: 10px;
    background: #ff4e50;
    border-radius: 5px;
    margin-left: 1%; }
    .grid-box-item p {
      padding-top: 140px;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: white; }
    .grid-box-item .grid-box-item-article-img3 {
      padding-top: 130px; }

  .grid-wide {
    width: 100%;
    max-width: 63%;
    height: 309px; }

  .search-wrapper {
    width: 100%;
    max-width: 768px;
    height: 285px;
    border-bottom: 3px solid #ff4e50;
    margin-top: 92px; }

  .search-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 100px;
    color: #4e4e4e;
    padding-top: 36px; }

  .search-input-box {
    width: 100%;
    max-width: 240px;
    margin-left: 23%;
    margin-top: 37px;
    float: left; }

  #search-input {
    width: 100%;
    max-width: 225px;
    height: 38px;
    border-radius: 5px;
    padding-left: 15px; }

  .search-button {
    margin-left: 10px;
    margin-top: 0;
    float: left;
    margin-top: 37px;
    width: 160px;
    line-height: 40px;
    outline: none; }

  footer {
    max-width: 768px;
    height: 190px; }

  .footer-title {
    text-align: left;
    padding-top: 38px;
    padding-left: 39px;
    display: block;
    float: left;
    letter-spacing: 0.8px; }

  .footer-menu-title, .footer-logo-title {
    text-align: left;
    padding-top: 35px;
    padding-left: 80px;
    display: block;
    float: left; }

  .footer-menu {
    width: 200px;
    height: 15px;
    margin: auto;
    margin-top: 60px;
    position: absolute;
    margin-left: 261px; }
    .footer-menu a {
      text-decoration: none;
      float: none;
      display: block;
      padding-right: 5px;
      padding-left: 5px;
      margin-top: 10px; }

  .footer-logo {
    margin: auto;
    margin-top: 40px;
    margin-right: 40px;
    float: right; } }
/*media=769-1440px*/
@media screen and (min-width: 771px) and (max-width: 1440px) {
  header {
    width: 100%;
    max-width: 1440px;
    height: 700px;
    background: url(../img/1440-bg.jpg) no-repeat;
    background-size: cover; }
    header .header-entrance {
      margin: 0;
      float: right;
      margin-right: 50px;
      padding-top: 40px; }
      header .header-entrance .header-entrance-login {
        width: 45px;
        line-height: 20px;
        float: left;
        margin-top: 7px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 14px; }
      header .header-entrance .header-entrance-signup {
        width: 85px;
        line-height: 32px;
        float: right;
        text-align: center;
        border: 2px solid white;
        border-radius: 20px;
        margin-top: 0px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 14px; }

  .header-logo, .header-title, .header-article, .header-article-768 {
    display: block;
    padding-top: 45px;
    padding-left: 50px;
    text-align: left;
    margin-top: 0px; }

  .header-title {
    margin-top: 112px;
    font-size: 30px;
    font-size: 52px;
    text-align: center;
    margin-left: 0;
    padding-left: 0; }

  .header-article {
    display: none; }

  .header-article-768 {
    display: block;
    font-size: 24px;
    text-align: center;
    padding-left: 0; }

  .header-button, .partner-button, .search-button {
    display: block;
    max-width: 220px;
    line-height: 35px;
    margin: auto;
    margin-top: 33px;
    outline: none;
    box-sizing: border-box; }

  .sidebar-wrapper, .grid-box {
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: auto;
    margin-top: 67px; }

  .sidebar-wrapper-title, .partner-wrapper-title, .partner-wrapper-title-768, .search-title {
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
    color: #333333; }

  .sidebar-slider, .sidebar-slider-2, .sidebar-slider-3 {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 10px; }

  .sidebar-text-wrapper {
    width: 200px;
    height: 170px;
    margin-left: 20px;
    margin-top: 220px;
    position: absolute;
    z-index: 10; }

  .sidebar-button, .sidebar-button-2 {
    line-height: 20px;
    width: 70px;
    background: #ff4e50;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: white;
    text-align: center; }

  .sidebar-text-tittle, .sidebar-text-article, .sidebar-text-article-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 15px; }

  .sidebar-text-article, .sidebar-text-article-2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-top: 25px; }

  .sidebar-text-article-2 {
    width: 266px; }

  .img {
    width: 100%;
    max-width: 300px;
    height: 400px; }

  .foto1 {
    background: url("../img/foto1-1440px.jpg") center 0 no-repeat; }

  .foto2 {
    background: url("../img/foto2-1440px.jpg") center 0 no-repeat; }

  .foto3 {
    background: url("../img/foto3-1440px.jpg") center 0 no-repeat; }

  .partner-wrapper {
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: auto;
    margin-top: 30px; }

  .partner-wrapper-title {
    display: none; }

  .partner-wrapper-title-768 {
    display: block; }

  .partner-wrapper-box, .partner-wrapper-box-2, .partner-wrapper-box-3, .partner-wrapper-box-4 {
    width: 220px;
    height: 205px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 40px; }
    .partner-wrapper-box img, .partner-wrapper-box-2 img, .partner-wrapper-box-3 img, .partner-wrapper-box-4 img {
      display: block;
      margin: auto; }
    .partner-wrapper-box .partner-people-name, .partner-wrapper-box-2 .partner-people-name, .partner-wrapper-box-3 .partner-people-name, .partner-wrapper-box-4 .partner-people-name {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      color: #333333; }
    .partner-wrapper-box .partner-people-hobbies, .partner-wrapper-box-2 .partner-people-hobbies, .partner-wrapper-box-3 .partner-people-hobbies, .partner-wrapper-box-4 .partner-people-hobbies {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
      color: #a3a3a3;
      line-height: 16px; }

  .partner-wrapper-box-2 {
    height: 230px; }

  .partner-button {
    clear: both;
    overflow: hidden;
    margin-top: 40px;
    line-height: 35px;
    background: white;
    border: 2px solid #ff4e50;
    display: block;
    outline: none;
    box-sizing: border-box; }
    .partner-button p {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 14px;
      color: #ff4e50; }

  .grid-box {
    max-width: 940px;
    height: auto;
    margin-top: 10px;
    padding-left: 5px; }

  .grid-wrapper-title {
    display: none; }

  .grid-wrapper-title-768 {
    display: block;
    padding-top: 60px;
    padding-bottom: 10px; }

  .grid-box-item {
    width: 100%;
    max-width: 31%;
    height: 309px;
    float: left;
    margin-top: 10px;
    background: #ff4e50;
    border-radius: 5px;
    margin-left: 1%; }
    .grid-box-item p {
      padding-top: 140px;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: white; }
    .grid-box-item .grid-box-item-article-img3 {
      padding-top: 130px; }

  .grid-wide {
    width: 100%;
    max-width: 63%;
    height: 309px; }

  .search-wrapper {
    width: 100%;
    max-width: 1440px;
    height: 285px;
    border-bottom: 2px solid #ff4e50;
    margin-top: 107px; }

  .search-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 100px;
    color: #4e4e4e;
    padding-top: 36px; }

  .search-input-box {
    width: 100%;
    max-width: 240px;
    margin-left: 35%;
    margin-top: 40px;
    float: left; }
    .search-input-box search-input {
      width: 100%;
      max-width: 225px;
      height: 38px;
      border-radius: 5px;
      padding-left: 15px; }

  .search-button {
    margin-left: 10px;
    float: left;
    margin-top: 40px;
    width: 160px;
    height: 42px;
    line-height: 40px;
    outline: none; }

  footer {
    max-width: 940px;
    height: 190px;
    margin: auto; }

  .footer-title {
    text-align: left;
    padding-top: 35px;
    padding-left: 35px;
    display: block;
    float: left; }

  .footer-menu-title, .footer-logo-title {
    text-align: left;
    padding-top: 35px;
    padding-left: 80px;
    display: block;
    float: left; }

  .footer-menu {
    width: 200px;
    height: 15px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    margin-left: 244px; }
    .footer-menu a {
      text-decoration: none;
      float: none;
      display: block;
      padding-right: 5px;
      padding-left: 5px;
      margin-top: 10px; }

  .footer-logo {
    margin: auto;
    margin-top: 35px;
    margin-right: 40px;
    float: right; } }
/*media max-width>1440px*/
@media screen and (min-width: 1440px) {
  header {
    width: 100%;
    max-width: 2560px;
    height: 700px;
    background: url(../img/1440-bg.jpg) no-repeat;
    background-size: cover; }
    header .header-entrance {
      margin: 0;
      float: right;
      margin-right: 250px;
      padding-top: 40px; }
      header .header-entrance .header-entrance-login, header .header-entrance .header-entrance-signup {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 14px;
        margin-top: 6px;
        margin-left: -3px; }
      header .header-entrance .header-entrance-signup {
        margin-top: -2px; }

  .header-logo, .header-title, .header-article, .header-article-768 {
    display: block;
    padding-top: 47px;
    padding-left: 250px;
    text-align: left;
    margin-top: 0px;
    letter-spacing: 1px; }

  .header-title {
    margin-top: 107px;
    font-size: 52px;
    text-align: center;
    margin-left: 0;
    padding-left: 3px;
    line-height: 57px;
    letter-spacing: 0px; }

  .header-article {
    display: none; }

  .header-article-768 {
    display: block;
    font-size: 23px;
    text-align: center;
    padding-left: 12px;
    padding-top: 32px; }

  .header-button, .partner-button, .search-button {
    display: block;
    max-width: 220px;
    line-height: 35px;
    margin: auto;
    margin-top: 38px;
    outline: none;
    box-sizing: border-box; }

  .sidebar-wrapper, .grid-box {
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: auto;
    margin-top: 67px; }

  .sidebar-wrapper-title, .partner-wrapper-title, .partner-wrapper-title-768, .search-title {
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
    color: #333333;
    font-weight: bold; }

  .sidebar-slider, .sidebar-slider-2, .sidebar-slider-3 {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin-top: 36px;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 9px; }

  .sidebar-text-wrapper {
    width: 200px;
    height: 170px;
    margin-left: 20px;
    margin-top: 220px;
    position: absolute;
    z-index: 10; }

  .sidebar-button, .sidebar-button-2 {
    line-height: 20px;
    width: 70px;
    background: #ff4e50;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: white;
    text-align: center; }

  .sidebar-text-tittle, .sidebar-text-article, .sidebar-text-article-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 15px; }

  .sidebar-text-article, .sidebar-text-article-2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-top: 16px; }

  .sidebar-text-article-2 {
    width: 266px; }

  .img {
    width: 100%;
    max-width: 300px;
    height: 400px; }

  .foto1 {
    background: url("../img/foto1-1440px.jpg") center 0 no-repeat; }

  .foto2 {
    background: url("../img/foto2-1440px.jpg") center 0 no-repeat; }

  .foto3 {
    background: url("../img/foto3-1440px.jpg") center 0 no-repeat; }

  .partner-wrapper {
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: auto;
    margin-top: 65px; }

  .partner-wrapper-title {
    display: none; }

  .partner-wrapper-title-768 {
    display: block; }

  .partner-wrapper-box, .partner-wrapper-box-2, .partner-wrapper-box-3, .partner-wrapper-box-4 {
    width: 220px;
    height: 237px;
    float: left;
    margin-top: 34px;
    margin-left: 0px;
    margin-right: 1.5%;
    margin-bottom: 37px; }
    .partner-wrapper-box img, .partner-wrapper-box-2 img, .partner-wrapper-box-3 img, .partner-wrapper-box-4 img {
      display: block;
      margin: auto; }
    .partner-wrapper-box .partner-people-name, .partner-wrapper-box-2 .partner-people-name, .partner-wrapper-box-3 .partner-people-name, .partner-wrapper-box-4 .partner-people-name {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-top: 14px;
      color: #333333; }
    .partner-wrapper-box .partner-people-hobbies, .partner-wrapper-box-2 .partner-people-hobbies, .partner-wrapper-box-3 .partner-people-hobbies, .partner-wrapper-box-4 .partner-people-hobbies {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 14px;
      text-align: center;
      margin-top: 16px;
      color: #a3a3a3;
      line-height: 16px; }

  .partner-wrapper-box-2 {
    height: 230px; }

  .partner-button {
    clear: both;
    overflow: hidden;
    margin-top: 40px;
    line-height: 35px;
    background: white;
    border: 2px solid #ff4e50;
    display: block;
    outline: none;
    box-sizing: border-box;
    width: 190px; }
    .partner-button p {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 14px;
      color: #ff4e50; }

  .grid-box {
    max-width: 940px;
    height: auto;
    margin-top: 0px;
    padding-left: 5px; }

  .grid-wrapper-title {
    display: none; }

  .grid-wrapper-title-768 {
    display: block;
    padding-top: 97px;
    padding-bottom: 10px;
    font-weight: bold; }

  .grid-box-item {
    width: 100%;
    max-width: 31%;
    height: 310px;
    float: left;
    margin-top: 25px;
    background: #ff4e50;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 1%; }
    .grid-box-item p {
      padding-top: 140px;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: white; }
    .grid-box-item .grid-box-item-article-img3 {
      padding-top: 130px; }

  .grid-wide {
    width: 100%;
    max-width: 63%;
    height: 309px; }

  .search-wrapper {
    width: 100%;
    max-width: 2560px;
    height: 285px;
    border-bottom: 3px solid #ff4e50;
    margin-top: 107px; }

  .search-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 100px;
    color: #4e4e4e;
    padding-top: 36px; }

  .search-input-box {
    width: 100%;
    max-width: 240px;
    margin-left: 36%;
    margin-top: 40px;
    float: left; }
    .search-input-box search-input {
      width: 100%;
      max-width: 225px;
      height: 38px;
      border-radius: 5px;
      padding-left: 15px; }

  .search-button {
    margin-left: 7px;
    float: left;
    margin-top: 40px;
    width: 160px;
    line-height: 40px;
    outline: none; }

  footer {
    max-width: 940px;
    height: 190px;
    margin: auto; }

  .footer-title {
    text-align: left;
    padding-top: 39px;
    padding-left: 0px;
    display: block;
    float: left;
    letter-spacing: 0.7px; }

  .footer-menu-title, .footer-logo-title {
    text-align: left;
    padding-top: 39px;
    padding-left: 97px;
    display: block;
    float: left; }

  .footer-menu {
    width: 200px;
    height: 15px;
    margin: auto;
    margin-top: 59px;
    position: absolute;
    margin-left: 235px; }
    .footer-menu a {
      text-decoration: none;
      float: none;
      display: block;
      padding-right: 5px;
      padding-left: 5px;
      margin-top: 10px; }

  .footer-logo {
    margin: auto;
    margin-top: 40px;
    margin-right: 0px;
    float: right; } }
/*media=480-760px*/
@media screen and (min-width: 480px) and (max-width: 760px) {
  .sidebar-wrapper, .grid-box {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: auto;
    margin-top: 35px; }

  .sidebar-wrapper-title, .partner-wrapper-title, .partner-wrapper-title-768, .search-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #333333; }

  .sidebar-slider, .sidebar-slider-2, .sidebar-slider-3 {
    margin: auto;
    margin-top: 15px;
    display: block;
    width: 100%;
    max-width: 240px;
    height: 400px;
    border-radius: 5px; }

  .sidebar-slider-2 {
    margin: auto;
    display: block;
    margin-top: 15px; }

  .sidebar-slider-3 {
    margin: auto;
    display: block;
    margin-top: 15px; } }
@media screen and (min-width: 480px) and (max-width: 690px) {
  .search-wrapper-input-box {
    margin-left: 20%; } }
@media screen and (min-width: 480px) and (max-width: 590px) {
  .search-wrapper-input-box {
    margin-left: 15%; } }
@media screen and (min-width: 480px) and (max-width: 520px) {
  .search-wrapper-input-box {
    margin-left: 10%; } }
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .search-wrapper-input-box {
    margin-left: 33%; } }
@media screen and (min-width: 769px) and (max-width: 1168px) {
  .search-wrapper-input-box {
    margin-left: 31%; } }
@media screen and (min-width: 770px) and (max-width: 939px) {
  .search-wrapper-input-box {
    margin-left: 29%; }

  .sidebar-slider, .sidebar-slider-2, .sidebar-slider-3 {
    display: inline-block;
    width: 100%;
    max-width: 240px;
    height: 400px;
    margin-top: 34px;
    border-radius: 5px;
    margin-left: 1%; }

  .slider-wrapper {
    position: relative;
    overflow: hidden; }

  .slider-wrapper .img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    margin: 0 auto; }

  .slider-wrapper .img:first-child {
    display: block; }

  .slider-wrapper span {
    margin-top: -13px;
    width: 30px;
    height: 60px;
    display: block;
    position: absolute;
    top: 14%;
    cursor: pointer;
    background: url(../img/sprite.png) no-repeat; }

  .slider-wrapper span.next {
    right: 17px;
    background-position: -34px 0; }

  .slider-wrapper span.prev {
    left: 17px;
    background-position: 0 0; }

  .img {
    width: 100%;
    max-width: 240px;
    height: 400px; }

  .partner-wrapper-box, .partner-wrapper-box-2, .partner-wrapper-box-3, .partner-wrapper-box-4 {
    margin-left: 17%; } }
@media screen and (min-width: 1440px) and (max-width: 1720px) {
  .search-wrapper-input-box {
    margin-left: 37%; } }
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .search-wrapper-input-box {
    margin-left: 36%; } }

/*# sourceMappingURL=styleIE8.css.map */
