/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-arow-left-name: 'sprite-arow-left';
$sprite-arow-left-x: 0px;
$sprite-arow-left-y: 0px;
$sprite-arow-left-offset-x: 0px;
$sprite-arow-left-offset-y: 0px;
$sprite-arow-left-width: 34px;
$sprite-arow-left-height: 60px;
$sprite-arow-left-total-width: 758px;
$sprite-arow-left-total-height: 60px;
$sprite-arow-left-image: '../img/sprite.png';
$sprite-arow-left: (0px, 0px, 0px, 0px, 34px, 60px, 758px, 60px, '../img/sprite.png', 'sprite-arow-left', );
$sprite-arow-right-name: 'sprite-arow-right';
$sprite-arow-right-x: 34px;
$sprite-arow-right-y: 0px;
$sprite-arow-right-offset-x: -34px;
$sprite-arow-right-offset-y: 0px;
$sprite-arow-right-width: 34px;
$sprite-arow-right-height: 60px;
$sprite-arow-right-total-width: 758px;
$sprite-arow-right-total-height: 60px;
$sprite-arow-right-image: '../img/sprite.png';
$sprite-arow-right: (34px, 0px, -34px, 0px, 34px, 60px, 758px, 60px, '../img/sprite.png', 'sprite-arow-right', );
$sprite-partner1-tv-name: 'sprite-partner1-tv';
$sprite-partner1-tv-x: 68px;
$sprite-partner1-tv-y: 0px;
$sprite-partner1-tv-offset-x: -68px;
$sprite-partner1-tv-offset-y: 0px;
$sprite-partner1-tv-width: 40px;
$sprite-partner1-tv-height: 40px;
$sprite-partner1-tv-total-width: 758px;
$sprite-partner1-tv-total-height: 60px;
$sprite-partner1-tv-image: '../img/sprite.png';
$sprite-partner1-tv: (68px, 0px, -68px, 0px, 40px, 40px, 758px, 60px, '../img/sprite.png', 'sprite-partner1-tv', );
$sprite-partner2-coffee-name: 'sprite-partner2-coffee';
$sprite-partner2-coffee-x: 108px;
$sprite-partner2-coffee-y: 0px;
$sprite-partner2-coffee-offset-x: -108px;
$sprite-partner2-coffee-offset-y: 0px;
$sprite-partner2-coffee-width: 40px;
$sprite-partner2-coffee-height: 40px;
$sprite-partner2-coffee-total-width: 758px;
$sprite-partner2-coffee-total-height: 60px;
$sprite-partner2-coffee-image: '../img/sprite.png';
$sprite-partner2-coffee: (108px, 0px, -108px, 0px, 40px, 40px, 758px, 60px, '../img/sprite.png', 'sprite-partner2-coffee', );
$sprite-partner3-test-tube-name: 'sprite-partner3-test-tube';
$sprite-partner3-test-tube-x: 148px;
$sprite-partner3-test-tube-y: 0px;
$sprite-partner3-test-tube-offset-x: -148px;
$sprite-partner3-test-tube-offset-y: 0px;
$sprite-partner3-test-tube-width: 41px;
$sprite-partner3-test-tube-height: 40px;
$sprite-partner3-test-tube-total-width: 758px;
$sprite-partner3-test-tube-total-height: 60px;
$sprite-partner3-test-tube-image: '../img/sprite.png';
$sprite-partner3-test-tube: (148px, 0px, -148px, 0px, 41px, 40px, 758px, 60px, '../img/sprite.png', 'sprite-partner3-test-tube', );
$sprite-partner4-aero-name: 'sprite-partner4-aero';
$sprite-partner4-aero-x: 189px;
$sprite-partner4-aero-y: 0px;
$sprite-partner4-aero-offset-x: -189px;
$sprite-partner4-aero-offset-y: 0px;
$sprite-partner4-aero-width: 41px;
$sprite-partner4-aero-height: 40px;
$sprite-partner4-aero-total-width: 758px;
$sprite-partner4-aero-total-height: 60px;
$sprite-partner4-aero-image: '../img/sprite.png';
$sprite-partner4-aero: (189px, 0px, -189px, 0px, 41px, 40px, 758px, 60px, '../img/sprite.png', 'sprite-partner4-aero', );
$sprite-name: 'sprite';
$sprite-x: 230px;
$sprite-y: 0px;
$sprite-offset-x: -230px;
$sprite-offset-y: 0px;
$sprite-width: 528px;
$sprite-height: 60px;
$sprite-total-width: 758px;
$sprite-total-height: 60px;
$sprite-image: '../img/sprite.png';
$sprite: (230px, 0px, -230px, 0px, 528px, 60px, 758px, 60px, '../img/sprite.png', 'sprite', );
$spritesheet-width: 758px;
$spritesheet-height: 60px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-arow-left, $sprite-arow-right, $sprite-partner1-tv, $sprite-partner2-coffee, $sprite-partner3-test-tube, $sprite-partner4-aero, $sprite, );
$spritesheet: (758px, 60px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
